@media (max-width: 375px) {
    .carde {
        width: 327px;
        height: 360px;
    }

    .cards {
        width: 279px;
    }

    .text h1 {
        font-size: 24px;

    }

    .text p {
        font-size: 14px;
        line-height: 22px;
    }

    .num {
        width: 42px;
        height: 42px;
    }
}