@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

text {
    display: flex;
    flex-direction: start;
    font-family: 'Overpass', sans-serif;

}

.text h1 {
    color: white;
    font-size: 28px;
    font-weight: 700;
}

.text p {
    font-weight: 400;
    font-size: 15px;
    color: #969FAD;
}